# {{ ansible_managed }}

{{ _glauth_toplevel | tina_pm.common.to_toml }}
{{ _glauth_services | tina_pm.common.to_toml }}
{{ _glauth_configs | tina_pm.common.to_toml }}
{{ _glauth_datastore | tina_pm.common.to_toml }}
