# vim: sw=2:sts=2
global:
  scrape_interval:     15s
  evaluation_interval: 15s
  scrape_timeout:      10s

  external_labels:
    monitor: '{{ ansible_hostname }}'

rule_files:
  - '/etc/prometheus/rules/*.yaml'
{% if prometheus_alertmanagers %}

alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for target in prometheus_alertmanagers %}
        - '{{ target }}'
{% endfor %}
{% endif %}

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets:
{% for target in prometheus_monitored_prometheus %}
        - '{{ target }}'
{% endfor %}
{% if prometheus_federated_prometheus %}

  - job_name: 'federate'
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]': {{ prometheus_federate_filter }}
    static_configs:
{% for target in prometheus_federated_prometheus %}
      - targets:
        - '{{ target }}'
{% endfor %}
{% endif %}
{% if prometheus_monitored_pushgateways %}

  - job_name: 'pushgateway'
    static_configs:
      - targets:
{% for target in prometheus_monitored_pushgateways %}
        - '{{ target }}'
{% endfor %}
{% endif %}

  - job_name: 'node'
    static_configs:
      - targets:
{% for target in prometheus_monitored_nodes %}
        - '{{ target }}'
{% endfor %}
