# vim: sw=2:sts=2
global:
  scrape_interval:     30s
  evaluation_interval: 30s
  scrape_timeout:      20s

  external_labels:
    monitor: '{{ ansible_hostname }}'

rule_files:
  - '/etc/prometheus/rules/*.yaml'
  - '/etc/prometheus/rules/*.yml'
{% if prometheus__alertmanagers %}

alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for target in prometheus__alertmanagers %}
        - '{{ target }}'
{% endfor %}
{% endif %}

scrape_configs:
{% for config in __all_scrape_configs %}
{# Make the output more readable by manually rendering the first level #}
  - {{ config | to_nice_yaml(indent=2) | indent(4) }}
{% endfor %}
