# vim:ts=2:sw=2:et:ai:sts=2
global:
  scrape_interval:     30s
  evaluation_interval: 30s
  scrape_timeout:      20s

  external_labels:
    monitor: '{{ ansible_hostname }}'

rule_files:
  - '/etc/prometheus/rules/local.*.yml'
{% for file in prometheus__rules %}
  - '/etc/prometheus/rules/{{ file | basename }}'
{% endfor %}
{% if prometheus__alertmanagers %}

alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for target in prometheus__alertmanagers %}
        - '{{ target }}'
{% endfor %}
{% endif %}

scrape_configs:
{% for config in __all_scrape_configs %}
{# Make the output more readable by manually rendering the first level #}
  - {{ config | to_nice_yaml(indent=2) | indent(4) }}
{% endfor %}
