# {{ ansible_managed }}
{% with -%}
{%- set repo = item.value %}
{%- set options = (
    '[' + repo.options.items() | map('join', '=') | join(' ') + '] '
    ) if repo.get('options') else '' %}
{%- set distro = repo.distro | d('./') %}
{%- set components = repo.get('components') or '' %}
{%- set components = components if components is string else components | join(' ') -%}

deb {{ options -}} {{ repo.mirror }} {{ distro }} {{ components }}
{% if repo.get('include_source') %}
deb-src {{ options -}} {{ repo.mirror }} {{ distro }} {{ components }}
{%- endif %}
{%- endwith %}
