# vim: sw=2:sts=2
---

- name: install package
  package:
    name: bind9
    state: latest

- name: start and enable service
  service:
    name: bind9
    state: started
    enabled: yes

- name: install configuration files
  template:
    src: '{{ item }}.j2'
    dest: '/etc/bind/{{ item }}'
    owner: root
    group: root
    mode: 0644
  loop:
    - named.conf
    - named.conf.options
    - named.conf.local
  notify: reload bind

- name: place ferm config file
  template:
    src: ferm.conf.j2
    dest: /etc/ferm/ferm.d/bind.conf
    owner: root
    group: root
    mode: 0644
  notify: reload ferm
