{% with %}
{% set _thelounge_prefs =
  {
    'host': thelounge__host or omit,
    'port': thelounge__port or omit,
    'reverseProxy': thelounge__reverse_proxy | bool,
    'https': {
      'enable': thelounge__https_enable | bool,
      'key': thelounge__https_key,
      'certificate': thelounge__https_certificate,
    },
    'prefetch': thelounge__prefetch | bool,
    'prefetchStorage': thelounge__prefetch_storage | bool,
    'fileUpload': {
      'enable': thelounge__file_upload_enable | bool,
    },
    'defaults': thelounge__defaults or {},
    'ldap': {
      'enable': thelounge__ldap_enable | bool,
      'url': thelounge__ldap_url,
      'primaryKey': thelounge__ldap_primary_key,
      'baseDN': thelounge__ldap_base_dn or omit,
    },
  }
%}
"use strict";
module.exports = {{
  _thelounge_default_config |
  combine(_thelounge_prefs, recursive=True) |
  combine(thelounge__config_extra or {}, recursive=True) |
  to_nice_json
}};
{% endwith %}
