# {{ ansible_managed }}

domain (ip ip6) table filter chain INPUT {
  proto tcp
{% if thelounge__ferm_allow_from %}
  saddr @ipfilter(({{
    thelounge__ferm_allow_from
    if thelounge__ferm_allow_from is string
    else thelounge__ferm_allow_from | join (' ')
  }}))
{% endif %}
  dport ({{ thelounge__port }}) ACCEPT;
}
