# {{ ansible_managed }}
{% with %}
{% set interfaces = net__interfaces if 'lo' in net__interfaces else
    (net__lo_config | combine(net__interfaces)) %}
{% for iface in interfaces %}
{% set allow = interfaces[iface].get('allow') %}
{% set iface_cfg = interfaces[iface].get('config') or {} %}
{% if iface_cfg %}
{% if allow %}

allow-{{ allow }} {{ iface }}
{%- endif -%}
{% for family in iface_cfg %}
{% set cfg = iface_cfg[family].copy() %}
{% set method = cfg.pop('method', 'static') %}

iface {{ iface }} {{ family }} {{ method }}
{% for cfg_key, cfg_value in cfg.items() if cfg_value not in ('', none) %}
{% if cfg_key in ('pre-up', 'up', 'post-up', 'pre-down', 'down', 'post-down') %}
{% set cfg_value = cfg_value.split('\n') if cfg_value is string else cfg_value %}
{% for value in cfg_value if value not in ('', none) %}
    {{ cfg_key }} {{ value }}
{% endfor %}
{% else %}
    {{ cfg_key }} {{ cfg_value }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endwith %}
