# {{ ansible_managed }}

{% with -%}
{%- set components = apt__components or '' %}
{%- set components = components if components is string else components | join(' ') -%}

deb {{ apt__mirror }} {{ apt__distro }} {{ components }}
# deb-src {{ apt__mirror }} {{ apt__distro }} {{ components }}
{% if apt__distro_has_security %}

deb {{ apt__security_mirror }} {{ apt__security_distro }} {{ components }}
# deb-src {{ apt__security_mirror }} {{ apt__security_distro }} {{ components }}
{% endif %}
{% if apt__distro_has_updates %}

deb {{ apt__mirror }} {{ apt__distro }}-updates {{ components }}
# deb-src {{ apt__mirror }} {{ apt__distro }}-updates {{ components }}
{% endif %}
{% if apt__distro_has_proposed_updates %}

deb {{ apt__mirror }} {{ apt__distro }}-proposed-updates {{ components }}
# deb-src {{ apt__mirror }} {{ apt__distro }}-proposed-updates {{ components }}
{% endif %}
{% if apt__distro_has_backports %}

deb {{ apt__mirror }} {{ apt__distro }}-backports {{ components }}
# deb-src {{ apt__mirror }} {{ apt__distro }}-backports {{ components }}
{% endif %}
{%- endwith %}
