# -*- shell-script -*-
#
#  Configuration file for ferm(1).
#
# {{ ansible_managed }}

domain (ip ip6) table filter {
    chain INPUT-pre;
    chain OUTPUT-pre;
    chain FORWARD-pre;

    chain INPUT {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        interface lo ACCEPT;
        jump INPUT-pre;

{% if ferm__open_ssh %}
        proto tcp dport ssh ACCEPT;
{% endif %}
    }
    chain FORWARD {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        jump FORWARD-pre;
    }
    chain OUTPUT {
        policy ACCEPT;
        jump OUTPUT-pre;
    }
}

domain ip table filter chain INPUT proto icmp ACCEPT;
domain ip6 table filter chain INPUT proto ipv6-icmp ACCEPT;

{% if ferm__version is version('2.3', 'ge') %}
@include @glob('ferm.d/*.conf')';
{% else %}
@include 'ferm.d/';
{% endif %}
