# -*- shell-script -*-
#
#  Configuration file for ferm(1).
#
# {{ ansible_managed }}

table filter {
    chain INPUT-pre;
    chain OUTPUT-pre;
    chain FORWARD-pre;

    chain INPUT {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        jump INPUT-pre;
        interface lo ACCEPT;
        proto icmp ACCEPT; 

{% if ferm__open_ssh %}
        proto tcp dport ssh ACCEPT;
{% endif %}
    }
    chain FORWARD {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        jump FORWARD-pre;
    }
    chain OUTPUT {
        policy ACCEPT;
        jump OUTPUT-pre;
    }
}

domain ip6 table filter {
    chain INPUT-pre;
    chain OUTPUT-pre;
    chain FORWARD-pre;

    chain INPUT {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        jump INPUT-pre;
        interface lo ACCEPT;
        proto ipv6-icmp ACCEPT;

{% if ferm__open_ssh %}
        proto tcp dport ssh ACCEPT;
{% endif %}
    }
    chain FORWARD {
        policy DROP;

        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        jump FORWARD-pre;
    }
    chain OUTPUT {
        policy ACCEPT;
        jump OUTPUT-pre;
    }
}

{% if ferm__version is version('2.3', 'ge') %}
@include @glob('ferm.d/*.conf')';
{% else %}
@include 'ferm.d/';
{% endif %}
