# {{ ansible_managed }}

domain (ip ip6) table filter chain INPUT {
    proto tcp
{% if _a2_ferm_allow_from %}
    saddr @ipfilter(({{ ' '.join(_a2_ferm_allow_from) }}))
{% endif %}
    dport ({{ ' '.join(_a2_ferm_ports | map('string')) }}) ACCEPT;
}
