# {{ ansible_managed }}

ARGS=" \
{% if prometheus__external_url %}
  --web.external-url={{ prometheus__external_url }} \
{% endif %}
  --web.listen-address={{
    '%s:%s' % (prometheus__listen_addr or '', prometheus__listen_port)
  }} \
{% if prometheus__retention_time %}
  --storage.tsdb.retention.time={{ prometheus__retention_time }} \
{% endif %}
{% if prometheus__retention_size %}
  --storage.tsdb.retention.size={{ prometheus__retention_size }} \
{% endif %}
  {{ prometheus__extra_args or '' }}"
