# {{ ansible_managed }}

domain (ip ip6) table filter chain INPUT {
  proto (tcp udp)
{% if simple_bind__ferm_allow_from %}
{% set saddr = simple_bind__ferm_allow_from %}
{% set saddr = saddr if saddr is string else saddr | join(' ') %}
    saddr @ipfilter(({{ saddr}}))
{% endif %}
    dport ({{ _sbind_ports | join(' ') }}) ACCEPT;
}
