{% macro arg_bool(value) %}
{{ 'yes' if value else 'no' }}
{%- endmacro %}

{% macro arg_list(value, indent=0, indent_incr=2) %}
{% filter indent(width=indent) %}
{
{% for item in value %}
{{ ' ' * indent_incr }}{{ item }};
{% endfor %}
}
{%- endfilter %}
{%- endmacro %}

{# All arguments are joined to construct a path. #}
{% macro arg_path() %}
{{ varargs | ansible.builtin.path_join | ansible.builtin.to_json }}
{%- endmacro %}
