{% from 'macros.j2' import arg_path %}
{# #}
// {{ ansible_managed }}
//
// This is the primary configuration file for the BIND DNS server named.

{% for file in _sbind_includes %}
include {{ arg_path(file) }};
{% endfor %}
